#title-presentation-section {
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#title-presentation {
    text-align: center;
    animation: .6s blink 20, move 3s 1.5s forwards steps(1);
}