body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.grid-app-content {
  position: relative;
  overflow: hidden;
}

.box-content-home {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.box-content {
  width: 100%;
  height: 100vh;
  padding-top: 6%;
}

.box-grid {
  padding: 5%;
}

.grid-app-content-ts-particles {
  position: absolute;
}

#tsparticles {
  height: 100vh;
}

.text-center {
  text-align: center;
}

.d-row-flex {
  display: flex;
}

.about-image {
  height: 65%;
}

.skill-icons {
  max-width: 66px;
  max-height: auto;
}

@media only screen and (min-width: 1023px) {
  .about-image {
    height: 100%;
  }
}